@page "/contact"
@using System.Net.Mail
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Contact</PageTitle>

<h1>Contact</h1>

Product: 
<textarea rows="1" cols="40" name="original" @bind="SelectedProduct">
            Enter details here...
</textarea>
<br/>

Fabric: 
<textarea rows="1" cols="40" name="original" @bind="SelectedFabric">
            Enter details here...
</textarea>
<br/>

<button name="button" @onclick="OnClick">Press me</button>

<br />

@code
{
    public string SelectedProduct { get; set; } = string.Empty;
    public string SelectedFabric { get; set; } = string.Empty;
    static HttpClient client = new HttpClient();
    private void OnClick()
    {
        string message = "";
        message += $"Product: {SelectedProduct}\\n" + Environment.NewLine;
        message += $"Fabric: {SelectedFabric}" + Environment.NewLine;
        string url = $"https://tinyneedlescontactus.azurewebsites.net/api/Function1?text=\"{message}\"";
        var response = client.GetAsync(url);
    }
}