@page "/contact"
@using System.Net.Mail
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Contact</PageTitle>

<h1>Contact Us</h1>

Message
<br />
<textarea rows="5" cols="40" name="messagebox" @bind="SelectedMessage">
            Enter details here...
</textarea>
<br/>

<button name="button" @onclick="OnClick">Send</button>
<br />
<br />
<label name="sendLabel">@SentLabel</label>
<br />


@code
{
    public string SelectedMessage { get; set; } = string.Empty;
    public string SentLabel { get; set; } = string.Empty;

    static HttpClient client = new HttpClient();
    private void OnClick()
    {
        string url = $"https://tinyneedlescontactus.azurewebsites.net/api/Function1?subject=\"Contact-Us\"&text=\"{SelectedMessage}\"";
        var response = client.GetAsync(url);
        SentLabel = "Message sent";
        Thread.Sleep(2000);
    }
}