@page "/contact"
@using System.Net.Mail
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Contact</PageTitle>

<h1>Contact Us</h1>

<br/>
<div class="container my-4">
  <div class="row mb-4">
      <div class="col-md-5 p-2 grey">
        <div class="panel panel-info">
          <div class="panel-body">
            If you wish to palce an oder please enter the details below. Be sure to inlcude fabric options, size and product type. We are also open to custom orders of other items. Contact us to discuss.
                    <br /><br />We look forward to hearing from you
          </div>
        </div>
      </div>
   </div>
</div>

<textarea rows="5" cols="40" name="messagebox" @bind="SelectedMessage">
            Enter details here...
</textarea>
<br/>

<button name="button" @onclick="OnClick">Send</button>
<br />
<br />
<label name="sendLabel">@SentLabel</label>
<br />




@code
{
    public string SelectedMessage { get; set; } = string.Empty;
    public string SentLabel { get; set; } = string.Empty;

    static HttpClient client = new HttpClient();
    private void OnClick()
    {
        string url = $"https://tinyneedlescontactus.azurewebsites.net/api/Function1?subject=\"Contact-Us\"&text=\"{SelectedMessage}\"";
        var response = client.GetAsync(url);
        SentLabel = "Message sent";
        Thread.Sleep(2000);
    }
}