@page "/contact"
@using System.Net.Mail
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Contact</PageTitle>

<h1>Contact</h1>


<textarea rows="5" cols="40" name="original" @bind="OriginalDescription">
            Enter details here...
</textarea>

<br/>

<button name="button" @onclick="OnClick">Press me</button>

<br />

@code
{
    public string OriginalDescription { get; set; } = string.Empty;
    static HttpClient client = new HttpClient();
    private void OnClick()
    {
        string url = $"https://tinyneedlescontactus.azurewebsites.net/api/Function1?text=\"{OriginalDescription}\"";
        var response = client.GetAsync(url);
    }
}