@page "/fabrics"
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Fabric</PageTitle>

<h1>Fabric options</h1>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                      <img src="fabricimages/fabric 1.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Fabric 1
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" "/>
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="fabricimages/fabric 2.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Fabric 2
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="fabricimages/fabric 3.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Fabric 3
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="fabricimages/fabric 4.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Fabric 4
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="fabricimages/fabric 5.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Fabric 5
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="fabricimages/fabric 6.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Fabric 6
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<button class="btn btn-primary" @onclick="SetImageCount"> @FabricImageCount</button>

@code {
    private string? imageSource;
    private int FabricImageCount = 0;


    private void SetImageCount()
    {
        var path = Path.Combine(Environment.CurrentDirectory, "fabricimages");
        if (Directory.Exists(path))
        {
            FabricImageCount = Directory.GetFiles(path, "*", SearchOption.TopDirectoryOnly).Length;
        }
    }

    private void ShowImage(int id)
    {
        imageSource = $"images/image{id}.png";
    }
}
