@page "/fabrics"
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Fabric</PageTitle>

<h1>Fabric options</h1>

<div class="container">
    <div class="row">
        <div class="col">
            1 of 2
        </div>
        <div class="col">
            2 of 2
        </div>
    </div>
    <div class="row">
        <div class="col">
            1 of 3
        </div>
        <div class="col">
            2 of 3
        </div>
        <div class="col">
            3 of 3
        </div>
    </div>
</div>

<p>
    <img src="fabrics/fabric 1.jpg" />
    <img src="fabrics/fabric 2.jpg" />
    <img src="fabrics/fabric 3.jpg" />
    <img src="fabrics/fabric 4.jpg" />
    <img src="fabrics/fabric 5.jpg" />
    <img src="fabrics/fabric 6.jpg" />
</p>

<button class="btn btn-primary" @onclick="SetImageCount"> @FabricImageCount</button>

@code {
    private string? imageSource;
    private int FabricImageCount = 0;


    private void SetImageCount()
    {
        var path = Path.Combine(Environment.CurrentDirectory, "fabrics");
        if (Directory.Exists(path))
        {
            FabricImageCount = Directory.GetFiles(path, "*", SearchOption.TopDirectoryOnly).Length;
        }
    }

    private void ShowImage(int id)
    {
        imageSource = $"images/image{id}.png";
    }
}
