@page "/"

<PageTitle>Tiny Needles and Cats</PageTitle>

<img src="images/Banner.png" class="img-fluid">
<br>
Hello and welcome to our website we make
<br>
<br>
<ul>
    <li>Drawstring bags in all fabrics</li>
    <li>Felt cat necklaces</li>
    <li>Notebook covers</li>
</ul>
You can contact us or order something from the Contacts page.
<br>
<br>
I hope you find something you want!
<br>
<br>
Caitlin 