@page "/products"

<PageTitle>Products</PageTitle>

<h1>Product options</h1>

<div class="container">
    <div class="row">
        <div class="col">

            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="productimages/bookcover.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Brighten up any book with this awesome book covers. 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>

        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="productimages/catnecklace.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        Cute cat necklaces.We're not sure if they bring you luck but they can't hurt.
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="productimages/drawstringbag.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        A draw string bag for all your knickknacks. 
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <img src="productimages/drawstringbag2.jpg" />
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        A draw string bag for all your larger knickknacks.
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 center-block text-center">
                        <label title=" " />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>