@page "/reviews"
@using TinyNeedles.Shared
@inject HttpClient Http

<PageTitle>Reviews</PageTitle>

<h1>Reviews</h1>

Review
<br />
<textarea rows="5" cols="40" name="messagebox" @bind="SelectedMessage">
            Enter details here...
</textarea>
<br />

<button name="button" @onclick="OnClick">Submit Review</button>
<br />
<br />
<label name="sendLabel">@SentLabel</label>
<hr/>


<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Anna - Draw string bag</h5>
            <p class="card-text">I have bought 2 draw string bags from Caitlin / tinyneedle.art . And they are amazing ! There super bright and colourful and I love all the patterns , made very well 👌 Anna x</p>
        </div>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Adam (aka. Dad) - Cat necklace</h5>
          <p class="card-text">I wear my cat necklace almost everyday. I feel like it brings me luck. Excellent quality.</p>
        </div>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Draw string bag</h5>
            <p class="card-text">I bought one of the draw string bags and I use it ALL the time! I love the fabric and it's excellent quality 👌. I couldn't believe how quickly I received it! Thanks Caitlin 😊.</p>
        </div>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Louise (aka. Granny)</h5>
            <p class="card-text">Caitlin made personalised cushions for our whole family, we have them on our beds and they make us smile every day! </p>
        </div>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Louise (aka. Granny)</h5>
            <p class="card-text">My drawstring bag meets all my needs for storing earphones for my phone. I love it and use it every day. It’s really pretty too. Louise xx </p>
        </div>
    </div>
</div>
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Anne (aka. Nannie) - Cushion</h5>
            <p class="card-text">Our beautiful cushion is in pride of place on the sofa. Very well made Caitlin</p>
        </div>
    </div>
</div>
<!--
<br />
<div class="shadow p-3 mb-5 bg-white rounded">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Review 2</h5>
            <p class="card-text">Wow.</p>
        </div>
    </div>
</div>
-->

@code
{
    public string SelectedMessage { get; set; } = string.Empty;
    public string SentLabel { get; set; } = string.Empty;

    static HttpClient client = new HttpClient();
    private void OnClick()
    {
        string url = $"https://tinyneedlescontactus.azurewebsites.net/api/Function1?subject=\"Review\"&text=\"{SelectedMessage}\"";
        var response = client.GetAsync(url);
        SentLabel = "Review sent";
        Thread.Sleep(2000);
    }
}